<div class="container-navbar">
    <button pTooltip="Tierra" routerLink="/earth">
      <img class="earth-img" src="assets/images/svg/earth.svg" alt="Logo de la empresa">
    </button>
    <button pTooltip="Marte" routerLink="/mars">
      <img class="mars-img" src="assets/images/svg/mars.svg" alt="Logo de la empresa">
    </button>
    <button pTooltip="Asteroides" routerLink="/asteroids">
      <img class="asteorid-img" src="assets/images/svg/asteroid.svg" alt="Logo de la empresa">
    </button>

</div>
