<section class="container-image-home">
  <div>
  </div>
    
</section>
<section class="container-presentation">
    <div class="container-text">
        <h1>Welcome to AstroData</h1>
        <p>Your gateway to the universe of astronomical data.</p>
        <p>Explore, analyze, and visualize celestial phenomena with ease.</p>
        <p>Join us in our journey through the cosmos!</p>
    </div>
    <div class="container-image">
      <img src="assets/images/space.jpeg" alt="space">
  
    </div>

</section>
