<section class="container-image-home">
  <div class="luna-wrapper" aria-hidden="true">
    <div class="image-luna"></div>
  </div>
  <div class="container-text">
    <h1  >ASTRODATA</h1>
    <h3>Explora el universo con datos obtenidos de la NASA</h3>
    <button type="button">Explorar ahora</button>
  </div>
  <button class="button-scroll" type="button">
    <span class="pi pi-arrow-down"></span>
  </button>
</section>
<section class="container-pre-info">
  <div class="container-text">
    <div class="content">
      <span class="pi pi-verified icon"></span>
      <span class="text">Información real</span>
      <p>Los datos que visualizarás provienen de fuentes oficiales y verificadas.</p>
    </div>
    <div class="content">
      <span class="pi pi-history icon"></span>
      <span class="text">Datos historicos</span>
      <p>Datos con disponibilidad para análisis y tendencias.</p>
    </div>
    <div class="content">
      <span class="pi pi-user icon"></span>
      <span class="text">Usuario activos</span>
      <p>Actualmente hay XX usuarios consultando información.</p>
    </div>
    <div class="content">
      <span class="pi pi-images icon"></span>
      <span class="text">Imágenes interesantes</span>
      <p>Explora galerías con contenido visual destacado.</p>
    </div>
  </div>
</section>

<section class="container-presentation">
  <div class="container-text">
    <h1>¿Que es <span class="brand">AstroData</span>?</h1>

    <p>Una plataforma interactiva impulsada por las APIs oficiales de la NASA, diseñada para acercarte al espacio como nunca antes.</p>

    <p>Consulta imágenes astronómicas, sigue misiones espaciales en tiempo real y accede a datos científicos actualizados directamente desde las bases de datos de la NASA.</p>

    <p>Ya seas un estudiante, un aficionado al espacio o un investigador, <strong>AstroData</strong> te abre las puertas al cosmos — gratis, visual e ilimitado.</p>

  <ul class="highlights">
    <li>Imagen Astronómica del Día</li>
    <li>Información detallada de misiones pasadas y actuales</li>
    <li>Gráficos y visualizaciones de datos reales</li>
    <li>Seguimiento en tiempo real de cuerpos celestes</li>
  </ul>
    <button>
       Explorar ahora
    </button>
  </div>
  <div class="container-image">
    <img src="assets/images/astronaut.jpg" alt="Astronauta en el espacio" /> 
  </div>
</section>
<!-- <section class="container-interesting-phrases">
  <div class="container-text">
    <span class="quotes">"</span>
    <span class="text">{{interestingPhrases[0]}}</span>
    <span class="quotes">"</span>
  </div>
</section> -->
<section id="APOD" class="container-apod">
  <div class="apod-content">
    <div class="container-image">
      @if(pictureDayData?.media_type === 'image') {
        <img [src]="pictureDayData?.url" alt="Imagen del día de la NASA"> 
      }
    </div>
    <div class="container-text">
      <h2>Imagen Astronomica</h2>
      <span>{{pictureDayData?.title}}</span>
      <p>{{pictureDayData?.explanation}}</p>
      <p>{{pictureDayData?.copyright}}</p>
    </div>
  </div>
  <div class="container-asteroid">
      <img src="assets/images/asteroid2.png" alt="asteroide">
    </div>
</section>
<section class="container-interesting-phrases">
  <div class="container-text">
    <span class="quotes">Dato interesante: "</span>
    <span class="text">{{interestingPhrases[1]}}</span>
    <span class="quotes">"</span>
  </div>
</section>
<section class="container-cards">
  <h3>Explora más</h3>
  <div class="cards">
    @for (category of categories; track $index) {
       <app-card-element
         [dataCard]="category"
       ></app-card-element>
    }
  </div>
</section>
<section class="container-interesting-phrases">
  <div class="container-text">
    <span class="quotes">Dato interesante: "</span>
    <span class="text">{{interestingPhrases[2]}}</span>
    <span class="quotes">"</span>
  </div>
</section>
