.container-image-home {
  position: relative;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/space.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5);
    z-index: 0;
  }

  .container-text {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 6rem;
      margin-bottom: 20px;
      color: white;
      
      text-shadow: 
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.5); 
    }

    h3{
      margin-bottom: 20px;
      color: white;
      text-shadow: 
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.5); 
    }
  }
}


.container-presentation{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;

  .container-image{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
      width: auto;
      height: 70%;
    }
  }

}

.container-apod{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding-bottom: 200px;

  .container-text{
    width: 50%;
    padding: 20px;
  }

  .container-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    img {
      height: 100%;
      object-fit: contain; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }

}

