* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 15rem;
}
h2 {
  font-size: 13rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 10rem;
  margin-bottom: 10px;
}
p,
li {
  font-size: 7rem;
  margin-bottom: 20px;
}
