@import "primeicons/primeicons.css";

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}
p,
li {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
