.card-element{
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;

  .earth-image {
    position: absolute;
    bottom: -45%; 
    background-image: url('../../../assets/images/earth.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
  }

  .mars-image {
    position: absolute;
    bottom: -50%; 
    background-image: url('../../../assets/images/mars.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
  }

  .asteroid-image {
    position: absolute;
    bottom: -40%; 
    background-image: url('../../../assets/images/asteroid.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
  }

  .card-text {
    color: white;
    position: relative;

    .card-title-earth {
      margin-top: 20px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 3.5rem;
      z-index: 1;
      letter-spacing: -13px;
      line-height: 1.6;
    }

    .card-title-mars {
      margin-top: 20px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 4rem;
      z-index: 1;
      letter-spacing: -13px;
      line-height: 1.6;
    }

    .card-title-asteroid {
      margin-top: 20px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 2.44rem;
      z-index: 1;
      letter-spacing: -13px;
      line-height: 1.6;
    }

    .card-description{
      position: absolute;
      width: 60%;
      word-wrap: break-word;
      text-align: start;
      padding: 10px;
      bottom: 6%;
      right: 0;
      font-size: 0.8rem;
      z-index: 1;
    }
  }
}

.card-element:hover {
  scale: 1.1;
  transition: scale 0.5s ease-in-out;

  .card-text {
      text-shadow: 
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.5); 
    transition: text-shadow 0.5s ease;
  }

  .earth-image, .mars-image, .asteroid-image {
    opacity: 0.8;
    transform: translate(0, -10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
  }

  
}